h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/suzyxu/Desktop/Full Stack/HTML Learning/Dasmoto Arts Project/resources/Images/pattern.jpeg");
}

.Brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.Frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.Paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-family: Helvetica;
}