html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
}

body {
}

.box {
    text-align: center;
    align-items: center;
    min-width: 5rem;
    height: 2rem;
    padding-bottom: 1rem;
    display: inline-block;
}

#box1 {
    background-color: aqua;
    color: black;
}

#box2 {
    background-color: deeppink;
    color: whitesmoke;
}