* {
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  margin-bottom: 5rem;
}

h1 {
  margin: 10rem auto 3rem;
  font-size: 3rem;
}

.title h3 {
  font-style: italic;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3rem;
}